body {
    background-color: #f7f7f7;
}

form {
    font-family: Arial;
    text-align: center;
    border: 1px solid #C8C8C8;
    background: #ffffff;
}

input{
    font-family: Arial;
    font-weight: bold;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #ffffff;
    color: black;
}

input[type=submit] {
    background-color: #92C157;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
}

input[type=submit]:hover{
    background-color: #77A04B;
    color: #DEDEDE;
}

.container {
    padding: 16px;
    width: 300px;
    margin: 0 auto;
}

.center-text {
    color: black;
    text-align: center;
    font-family: Arial;
}

.vertical-center {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
}

.error-text {
    color: #e85b47;
    text-align: center;
    border: 1px solid #e85b47;
    border-radius: 4px;
}