tr:hover td {
    background: #ced6dc;
}
.td-text-gl{
    color: #636363;
}
th {
    font-weight: normal;
    color: black;
    background: #a8a8a8;
    border-bottom: 1px solid #C8C8C8;
    padding: 12px 17px;
}
td{
    color: #BABABA;
    padding: 5px 5px;
}

table{
    border: 1px solid #C8C8C8;
    border-collapse: collapse;
    background: #ffffff;
}

input{
    padding: 3px;
    border-radius: 4px;
    margin-left: 3px;
    margin-bottom: 5px;
    background-color: #ffffff;
    color: black;
    border: 1px solid #C8C8C8;
    outline: none;
}