body{
    font-family: Arial;
}
ul {
    padding: 0;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    font-family: Arial;
}

li {
    display: inline-block;
}

a {
    border-radius: 4px;
    padding: 8px;
    display: inline-block;
    color: white;
    background: #4CAF50;
    text-decoration: none;
}

a:hover {
    background: white;
    text-decoration: none;
    color: #4CAF50;
}

.username {
    color: black;
    display: inline-block;
    padding: 8px;
    font-weight: bold;
}

.li-left {
    position: absolute;
    right: 9px;
}
.li-del{
    position: absolute;
    right: 9px;
}
.li-accept{
    position: absolute;
    left: 9px;
}
.li-edit{
    position: absolute;
    left: 100px;
}


.view-btn{
    background: darkgray;
}
.view-btn:hover{
    background: white;
    color: darkgray;
}
.delete-btn{
    background: red;
    text-align: right;
}
.delete-btn:hover{
    background: white;
    color: red;
}
.accept-btn{
    background: #098000;
}
.accept-btn:hover{
    background: white;
    color: #098000;
}
.unaccept-btn{
    background: #e85b47;
}
.unaccept-btn:hover{
    background: white;
    color: #e85b47;
}
.edit-btn{
    background: orange;
}
.edit-btn:hover{
    background: white;
    color: orange;
}

.li-text{
    display: inline-block;
    padding: 8px;
}
.ul-req {
    padding: 0;
    background: #f1f1f1;
    font-family: Arial;
}

table {
    border-collapse: collapse;
    border-bottom: 3px solid #4CAF50;
    display: table;
    width: 100%;
}
th {
    font-weight: normal;
    color: white;
    background: #4CAF50;
    border-bottom: 3px solid #4CAF50;
    padding: 12px 17px;
}
td{
    text-align: center;
    color: black;
    padding: 5px 5px;
}
tr:hover td {
    background:#f1f1f1;
}
